*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color: white;
}
.left{
    width: 25vw;
    padding: 14px;
}
.right{
    width: 75vw;
    margin: 20px 0px;   
    position: relative; 
}
.home ul li{
    display: flex;
    gap: 10px;
    width: 100%;
    list-style: none; 
    padding-top: 10px;  
    font-weight: bold;
}
.home ul li img{
    width: 18px;
}
.logo{
    display: flex;
    gap: 15px;
}
.logo img{
    width: 40px;
}
.library{
    min-height: 70vh;
    position: relative;
}
.heading{
    display: flex;
    gap: 10px;
    width: 100%;
    padding-top: 10px;  
    font-weight: bold;
    align-items: center;
    padding: 15px 15px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}
.footer a{
    color: grey;
    padding: 10px;
}
.heading img{
    width: 20px;
}
.header{
    display: flex;
    height: 60px;
    justify-content: space-between;
    background: rgb(67, 67, 67);
}
.header > *{
    padding: 10px 20px;
}
.playlists{
    padding: 10px;
}
.playlists .cardcontainer{
    display: flex;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 50vh;
    scrollbar-width: none;
}
.playlists .card{
    position:relative;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    background: rgb(67, 67, 67);
    transition: all 0.5s ease-out;
}
.card:hover{
    background-color: rgb(85, 85, 85);
}
.card > *{
    padding-top: 8px;
}
.card img{
    width: 100%;
    /* border: 2px solid white; */
    object-fit: contain;
}
.play{
    position: absolute;
    top:10%;
    right: 27%;
    transition: all 1s ease-out;
    opacity: 0.0;
}
.play:hover{
    opacity: 0.7;
}
.signupbtn{
    background: rgb(27, 27, 27);
    color: rgb(95, 95, 95);
    font-weight: bold;
    margin: 0px 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}
.signupbtn:hover{
    background: rgb(103, 102, 102);
    color: rgb(209, 208, 208);
    padding: auto;
}
.loginbtn{
    background: white;
    color: rgb(95, 95, 95);
    font-weight: bold;
    margin: 0px 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}
.loginbtn:hover{
    background: rgb(103, 102, 102);
    color: rgb(209, 208, 208);
    padding: auto;
}
.playbar{
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: green;
    width: 100%;
}
.songbuttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}